html {
  box-sizing: border-box;
  min-height: 100vh;
}
body {
  background-color: var(--bg-color);
}
.App{
  padding: 32px;
  position: relative;
}
.btn{
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &:hover{
    background-color: var(--primary-color-dark);
  }
  &:active{
    background-color: var(--primary-color-light);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  }
}
.generate-music-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 64px 0 32px 0;
  &::after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: #4C585B;
    position: absolute;
    bottom: 50%;
    z-index: -1;
  }
  .btn{
    font-size: 18px;
    font-weight: bold;
    border-radius: 16px;
    padding: 16px 32px;
  }
}
.loader{
  position: absolute;
  right: calc(50% - 90px);
  top: 0;
}